@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../assets/fonts/Red_Hat_Display/static/RedHatDisplay-Black.ttf") format("truetype");
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("../../assets/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Big Shoulders Display";
  src: url("../../assets/fonts/Big_Shoulders_Display/static/BigShouldersDisplay-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url("../../assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card__container {
  border-top: 3px solid #67bece;
  width: 300px;
  height: 200px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 15px 25px;
}
.card__container div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 20ch;
}
.card__container h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: right;
}
.card__container p {
  font-size: 12px;
  line-height: 24px;
}
.card__container a {
  color: #29b2cb;
  text-decoration: none;
}
.card__container a:focus, .card__container a:hover {
  color: #67bece;
}

.card__button {
  background-color: #f9c7c5;
  padding: 3px 20px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  line-height: 24px;
}
.card__button:focus, .card__button:hover {
  background-color: #fab0ae;
}

.fm-card__container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #dce5e6;
  border-radius: 8px;
  overflow: hidden;
}

.fm-card__image-container {
  flex: 1 1 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fm-card__image-container img {
  transition: transform 0.3s ease 0s;
  object-fit: cover;
}
.fm-card__image-container:hover img {
  transform: scale(1.05);
}

.fm-card__content {
  flex: 1 1 50%;
  padding: 15px 20px 20px;
}
.fm-card__content h3 {
  font-weight: normal;
  font-size: 19px;
  margin-bottom: 10px;
  color: #1c2022;
}
.fm-card__content h3 a {
  text-decoration: none;
  color: inherit;
}
.fm-card__content p {
  font-size: 12px;
  color: #737373;
  margin-bottom: 5px;
}

.fm-challenge__link {
  font-size: 13px;
  color: #29b2cb;
  text-decoration: none;
}
.fm-challenge__link:focus, .fm-challenge__link:hover {
  color: #67bece;
}

.fm-card__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}

.fm-card__language-tags {
  font-size: clamp(12px, 0.85rem, 24px);
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.fm-card__language-tags li {
  list-style-type: none;
  display: inline-block;
}
.fm-card__language-tags li + li {
  margin-left: 10px;
}

.fm-html-tag {
  color: #6abecd;
}

.fm-css-tag {
  color: #3e54a3;
}

.fm-js-tag {
  color: #e13784;
}

.fm-api-tag {
  color: #85c20a;
}

.fm-card__difficulty-tag {
  font-size: clamp(12px, 0.85rem, 24px);
  display: flex;
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  text-transform: capitalize;
}

.fm-newbie {
  border: 1px solid rgba(20, 194, 200, 0.15);
}
.fm-newbie .fm-difficulty-num {
  background: #14c2c8;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-newbie .fm-difficulty-text {
  color: #14c2c8;
  padding: 2px 10px;
}

.fm-junior {
  border: 1px solid rgba(170, 215, 66, 0.15);
}
.fm-junior .fm-difficulty-num {
  background: #aad742;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-junior .fm-difficulty-text {
  color: #aad742;
  padding: 2px 10px;
}

.fm-intermediate {
  border: 1px solid rgba(241, 182, 4, 0.15);
}
.fm-intermediate .fm-difficulty-num {
  background: #f1b604;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-intermediate .fm-difficulty-text {
  color: #f1b604;
  padding: 2px 10px;
}

.fm-advanced {
  border: 1px solid rgba(244, 137, 37, 0.15);
}
.fm-advanced .fm-difficulty-num {
  background: #f48925;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-advanced .fm-difficulty-text {
  color: #f48925;
  padding: 2px 10px;
}

.fm-guru {
  border: 1px solid rgba(235, 82, 82, 0.15);
}
.fm-guru .fm-difficulty-num {
  background: #eb5252;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-guru .fm-difficulty-text {
  color: #eb5252;
  padding: 2px 10px;
}

.nft-card__container {
  border-radius: 13px;
  background-color: #14253d;
  font-family: "Outfit";
  color: white;
  width: 350px;
  height: fit-content;
  padding: 20px;
}

.nft-content__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.nft-content__container h3 {
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: color 200ms ease-out;
}
.nft-content__container h3:hover {
  color: #00fff7;
}
.nft-content__container p {
  font-weight: 300;
  font-size: 18px;
  color: #8bacda;
}
.nft-content__container hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #2f415b;
}

.nft-preview-img__container {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.nft-preview-img__container::after {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 255, 247, 0.5);
  background-image: url("../../../../assets/frontendMentorInfo/nft-preview-card-component-main/images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease-out;
}
.nft-preview-img__container:hover::after {
  opacity: 1;
}

.nft-info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nft-info__container div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.nft-info__container img {
  object-fit: contain;
}

.nft-eth__span {
  color: #00fff7;
  font-weight: 400;
  flex-shrink: 0;
}

.nft-days__span {
  color: #8bacda;
  flex-shrink: 0;
}

.nft-creator__container {
  display: flex;
  flex-direction: row;
  color: #8bacda;
}
.nft-creator__container img {
  width: 30px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.nft-creator__container em {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: color 200ms ease-out;
}
.nft-creator__container em:hover {
  color: #00fff7;
}

.os-card__container {
  display: flex;
  flex-direction: column;
  width: clamp(19rem, 90vw, 25rem);
  font-family: "Red Hat Display";
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.os-illustration__container {
  width: 100%;
  height: fit-content;
}

.os-content__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 20px 0;
  width: max(80%, 18rem);
  margin: auto;
  gap: 1.2rem;
}
.os-content__container h3 {
  font-weight: 900;
  color: #1f2f56;
}
.os-content__container p {
  font-weight: 500;
  font-size: 16px;
  color: #7280a7;
}

.os-plan-details__container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "icon plan button" "icon cost button";
  background-color: #f5f7ff;
  border-radius: 15px;
  padding: 15px;
  grid-gap: 0 20px;
}

.music-icon {
  grid-area: icon;
  place-self: center;
}

.plan-text {
  grid-area: plan;
  text-align: left;
  font-weight: 900;
  color: #1f2f56;
}

.cost-text {
  grid-area: cost;
  text-align: left;
  color: #7280a7;
}

.change-button {
  grid-area: button;
  place-self: center;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  color: #3829e0;
}
.change-button:hover {
  color: #6054e6;
}

.os-buttons__container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.os-button {
  width: 100%;
  border: none;
  font-weight: 700;
  padding: 12px;
  border-radius: 12px;
}
.os-button.primary {
  background-color: #3829e0;
  color: white;
  box-shadow: 0 5px 15px 0px rgba(56, 41, 224, 0.5);
}
.os-button.primary:hover {
  opacity: 0.8;
}
.os-button.secondary {
  background-color: transparent;
  color: #7280a7;
}
.os-button.secondary:hover {
  color: #1f2f56;
}

.sp-card__container {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "content image";
  background-color: #1b1938;
  border-radius: 10px;
  overflow: hidden;
  max-width: 60rem;
  width: 90vw;
}
@media only screen and (max-width: 840px) {
  .sp-card__container {
    height: fit-content;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: "image" "content";
    max-width: 95vw;
    margin: 1rem;
  }
}

.sp-card-content__container {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem;
}
@media only screen and (max-width: 840px) {
  .sp-card-content__container {
    padding: 2.5rem;
  }
}

.sp-card-content__introduction-container {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.2;
}
.sp-card-content__introduction-container h3 {
  color: white;
  font-size: 32px;
}
.sp-card-content__introduction-container em {
  font-style: normal;
  color: #aa5cdb;
}
.sp-card-content__introduction-container p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
  font-size: 15px;
  margin: 2rem 0;
  line-height: 1.7;
}
@media only screen and (max-width: 840px) {
  .sp-card-content__introduction-container {
    text-align: center;
  }
  .sp-card-content__introduction-container p {
    margin-top: 1em;
    margin-bottom: 2.5rem;
  }
}

.sp-card-content__stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sp-card-content__stats-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media only screen and (max-width: 840px) {
  .sp-card-content__stats-container {
    flex-direction: column;
    gap: 20px;
  }
  .sp-card-content__stats-container div {
    align-items: center;
  }
}

.sp-stats--value {
  color: white;
  font-size: 28px;
  font-family: "Inter";
  font-weight: 700;
}

.sp-stats--title {
  font-family: "Lexend Deca";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.sp-card-image {
  grid-area: image;
  background-color: rgba(170, 92, 219, 0.8);
  background-image: url("../../../../assets/frontendMentorInfo/stats-preview-card-component-main/images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.sp-card-image img {
  object-fit: cover;
  height: 100%;
  visibility: hidden;
}
@media only screen and (max-width: 840px) {
  .sp-card-image {
    background-image: url("../../../../assets/frontendMentorInfo/stats-preview-card-component-main/images/image-header-mobile.jpg");
  }
  .sp-card-image img {
    width: 100%;
  }
}

.cp-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  max-width: 20rem;
  padding: 3rem 3.5rem;
  font-family: "Lexend Deca";
}
@media only screen and (max-width: 840px) {
  .cp-card__container {
    max-width: 28rem;
  }
}

.cp-card__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.cp-card__content-container img {
  height: 50px;
  object-fit: contain;
}
.cp-card__content-container h3 {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f2f2f2;
}
.cp-card__content-container p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

.cp-card__button {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  width: fit-content;
  padding: 8px 20px;
  border-radius: 30px;
  white-space: nowrap;
  font-size: 15px;
}

.bright-orange {
  background-color: #e38826;
}
.bright-orange .cp-card__button {
  color: #e38826;
}
.bright-orange .cp-card__button:hover {
  color: #f2f2f2;
  background-color: #e38826;
}

.dark-cyan {
  background-color: #006970;
}
.dark-cyan .cp-card__button {
  color: #006970;
}
.dark-cyan .cp-card__button:hover {
  color: #f2f2f2;
  background-color: #006970;
}

.very-dark-cyan {
  background-color: #004241;
}
.very-dark-cyan .cp-card__button {
  color: #004241;
}
.very-dark-cyan .cp-card__button:hover {
  color: #f2f2f2;
  background-color: #004241;
}

.pc-card__container {
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans";
  position: relative;
  max-width: 28rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.pc-card__banner {
  height: 8rem;
  object-fit: cover;
}

.pc-card__avatar {
  border-radius: 50%;
  width: 6rem;
  object-fit: contain;
  position: absolute;
  border: 3px solid white;
  margin-top: 5rem;
  margin-left: calc(50% - 3rem);
}

.pc-card__content-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 1.5rem 0;
}
.pc-card__content-container hr {
  border-top: 1px solid #969696;
  width: 100%;
  margin: 1.2rem 0;
}

.pc-card__profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pc-card__profile-container h3 {
  color: #2d3248;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
}
.pc-card__profile-container span {
  color: #6a6f81;
  font-weight: normal;
  margin-left: 5px;
}
.pc-card__profile-container p {
  color: #6a6f81;
}

.pc-card__stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pc-card__stats-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pc-card__value {
  font-weight: 700;
  font-size: 18px;
}

.pc-card__title {
  color: #6a6f81;
}

.fac-card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "illustration content";
  width: 80vw;
  border-radius: 15px;
  background-color: white;
  font-family: "Kumbh Sans";
  font-weight: normal;
  max-width: 50rem;
  padding: 2rem 2rem 2rem 0;
  min-height: 28rem;
}
@media only screen and (max-width: 670px) {
  .fac-card__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "illustration" "content";
    padding: 0 2rem 2rem 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .fac-card__container {
    grid-template-rows: 1fr 5fr;
  }
}

.fac-illustration__container {
  grid-area: illustration;
  flex: 1 1 50%;
  background-image: url("../../../../assets/frontendMentorInfo/faq-accordion-card-main/images/illustration-woman-online-desktop.svg"), url("../../../../assets/frontendMentorInfo/faq-accordion-card-main/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -4rem 50%;
  background-size: contain, cover;
  position: relative;
}
.fac-illustration__container .mobile-illustration {
  display: none;
}
.fac-illustration__container .floating-illustration {
  display: block;
  position: absolute;
  height: clamp(6rem, 12vw, 8rem);
  left: -4.5rem;
  top: calc(50% - 3rem);
  animation: hover 4s infinite;
}
@media only screen and (max-width: 880px) {
  .fac-illustration__container {
    background-size: contain;
  }
}
@media only screen and (max-width: 670px) {
  .fac-illustration__container {
    background-size: contain;
    background-size: 70%;
    background-image: url("../../../../assets/frontendMentorInfo/faq-accordion-card-main/images/bg-pattern-mobile.svg");
    background-position: 50% -50%;
  }
  .fac-illustration__container .mobile-illustration {
    display: block;
    object-fit: contain;
    width: 70%;
    margin: -35% auto auto;
  }
  .fac-illustration__container .floating-illustration {
    display: none;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.fac-content__container {
  grid-area: content;
  flex: 1 1 50%;
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fac-content__container div + div {
  border-top: 1px solid #e7e7e9;
}
.fac-content__container h3 {
  font-weight: 700;
  color: #1d1e35;
  font-size: 28px;
}
@media only screen and (max-width: 670px) {
  .fac-content__container {
    padding: 0;
  }
  .fac-content__container h3 {
    text-align: center;
  }
}

.fac-accordion__container {
  flex: 1 1 100%;
}

.fac-accordion-question__container {
  padding: 0.5em 0;
}

.fac-accordion__question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4a4b5e;
  cursor: pointer;
  align-items: flex-start;
  font-size: 15px;
}
.fac-accordion__question h4 {
  font-weight: normal;
}
.fac-accordion__question h4:hover {
  color: #f47c57;
}
.fac-accordion__question img {
  object-fit: contain;
  margin: 10px 3px;
  transition: transform 250ms ease;
}
.fac-accordion__question.active h4 {
  font-weight: 700;
}
.fac-accordion__question.active h4:hover {
  color: #4a4b5e;
}
.fac-accordion__question.active img {
  transform: rotate(180deg);
}

.fac-accordion__answer {
  color: #787887;
  margin-top: 0.5em;
  font-size: 12px;
}

.fm-cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem 1rem;
  gap: 1em;
}

.nft-challenge__page {
  background-color: #0d192b;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.os-challenge__page {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #e0e8ff;
  background-image: url("../../../../assets/frontendMentorInfo/order-summary-component-main/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 1s ease;
}
@media only screen and (max-width: 375px) {
  .os-challenge__page {
    background-image: url("../../../../assets/frontendMentorInfo/order-summary-component-main/images/pattern-background-mobile.svg");
  }
}

.sp-challenge__page {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #090b1a;
  display: grid;
  place-items: center;
}

.cp-challenge__container {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.cp-challenge__content-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 10px;
  margin: 1rem;
  width: fit-content;
}
@media only screen and (max-width: 840px) {
  .cp-challenge__content-container {
    flex-direction: column;
  }
}

.pc-challenge__page {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #19a2ae;
  position: relative;
  overflow: hidden;
}

.pc-background-circle--top {
  position: absolute;
  top: -550px;
  left: -200px;
  width: 1000px;
  height: 1000px;
}
@media only screen and (max-width: 880px) {
  .pc-background-circle--top {
    top: -250px;
    left: -200px;
    width: 700px;
    height: 700px;
  }
}

.pc-background-circle--bottom {
  position: absolute;
  bottom: -650px;
  right: -200px;
  width: 1000px;
  height: 1000px;
}
@media only screen and (max-width: 880px) {
  .pc-background-circle--bottom {
    bottom: -350px;
    right: -200px;
    width: 700px;
    height: 700px;
  }
}

.fac-challenge__page {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#af67e9, #6565e7);
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
