@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit/static/Outfit-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card__container {
  border-top: 3px solid #67bece;
  width: 300px;
  height: 200px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 15px 25px;
}
.card__container div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 20ch;
}
.card__container h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: right;
}
.card__container p {
  font-size: 12px;
  line-height: 24px;
}
.card__container a {
  color: #29b2cb;
  text-decoration: none;
}
.card__container a:focus, .card__container a:hover {
  color: #67bece;
}

.card__button {
  background-color: #f9c7c5;
  padding: 3px 20px;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  line-height: 24px;
}
.card__button:focus, .card__button:hover {
  background-color: #fab0ae;
}

.fm-card__container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #dce5e6;
  border-radius: 8px;
}

.fm-card__image-container {
  flex: 1 1 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fm-card__image-container img {
  transition: transform 0.3s ease 0s;
  object-fit: cover;
}
.fm-card__image-container:hover img {
  transform: scale(1.05);
}

.fm-card__content {
  flex: 1 1 40%;
  padding: 15px 20px 20px;
}
.fm-card__content h3 {
  font-weight: normal;
  font-size: 19px;
  margin-bottom: 10px;
  color: #1c2022;
}
.fm-card__content h3 a {
  text-decoration: none;
  color: inherit;
}
.fm-card__content p {
  font-size: 12px;
  color: #737373;
  margin-bottom: 5px;
}

.fm-challenge__link {
  font-size: 13px;
  color: #29b2cb;
  text-decoration: none;
}
.fm-challenge__link:focus, .fm-challenge__link:hover {
  color: #67bece;
}

.fm-card__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}

.fm-card__language-tags {
  font-size: clamp(12px, 0.85rem, 24px);
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.fm-card__language-tags li {
  list-style-type: none;
  display: inline-block;
}
.fm-card__language-tags li + li {
  margin-left: 10px;
}

.fm-html-tag {
  color: #6abecd;
}

.fm-css-tag {
  color: #3e54a3;
}

.fm-js-tag {
  color: #e13784;
}

.fm-api-tag {
  color: #85c20a;
}

.fm-card__difficulty-tag {
  font-size: clamp(12px, 0.85rem, 24px);
  display: flex;
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  text-transform: capitalize;
}

.fm-newbie {
  border: 1px solid rgba(20, 194, 200, 0.15);
}
.fm-newbie .fm-difficulty-num {
  background: #14c2c8;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-newbie .fm-difficulty-text {
  color: #14c2c8;
  padding: 2px 10px;
}

.fm-junior {
  border: 1px solid rgba(170, 215, 66, 0.15);
}
.fm-junior .fm-difficulty-num {
  background: #aad742;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-junior .fm-difficulty-text {
  color: #aad742;
  padding: 2px 10px;
}

.fm-intermediate {
  border: 1px solid rgba(241, 182, 4, 0.15);
}
.fm-intermediate .fm-difficulty-num {
  background: #f1b604;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-intermediate .fm-difficulty-text {
  color: #f1b604;
  padding: 2px 10px;
}

.fm-advanced {
  border: 1px solid rgba(244, 137, 37, 0.15);
}
.fm-advanced .fm-difficulty-num {
  background: #f48925;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-advanced .fm-difficulty-text {
  color: #f48925;
  padding: 2px 10px;
}

.fm-guru {
  border: 1px solid rgba(235, 82, 82, 0.15);
}
.fm-guru .fm-difficulty-num {
  background: #eb5252;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.fm-guru .fm-difficulty-text {
  color: #eb5252;
  padding: 2px 10px;
}

.nft-card__container {
  border-radius: 13px;
  background-color: #14253d;
  font-family: "Outfit";
  color: white;
  width: 350px;
  height: fit-content;
  padding: 20px;
}

.nft-content__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.nft-content__container h3 {
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: color 200ms ease-out;
}
.nft-content__container h3:hover {
  color: #00fff7;
}
.nft-content__container p {
  font-weight: 300;
  font-size: 18px;
  color: #8bacda;
}
.nft-content__container hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #2f415b;
}

.nft-preview-img__container {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.nft-preview-img__container::after {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 255, 247, 0.5);
  background-image: url("../../../../assets/frontendMentorInfo/nft-preview-card-component-main/images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease-out;
}
.nft-preview-img__container:hover::after {
  opacity: 1;
}

.nft-info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nft-info__container div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.nft-info__container img {
  object-fit: contain;
}

.nft-eth__span {
  color: #00fff7;
  font-weight: 400;
  flex-shrink: 0;
}

.nft-days__span {
  color: #8bacda;
  flex-shrink: 0;
}

.nft-creator__container {
  display: flex;
  flex-direction: row;
  color: #8bacda;
}
.nft-creator__container img {
  width: 30px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.nft-creator__container em {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  color: white;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: color 200ms ease-out;
}
.nft-creator__container em:hover {
  color: #00fff7;
}

.nft__page {
  background-color: #0d192b;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
