//website card
$card--blue: #67bece;
$card--pink: #f9c7c5;
$card__background: #fafafa;
$card--pink__active: #fab0ae;
$card__link--blue: #29b2cb;
$card__link--blue__active: $card--blue;

//frontendMentor card
$fm-card__border: #dce5e6;
$fm-title-text: #1c2022;
$fm-description-text: #737373;
$tag-colors: (
  html-tag: #6abecd,
  css-tag: #3e54a3,
  js-tag: #e13784,
  api-tag: #85c20a,
);
$difficulty-tag-colors: (
  newbie: #14c2c8,
  junior: #aad742,
  intermediate: #f1b604,
  advanced: #f48925,
  guru: #eb5252,
);

//nft preview card
$nft--soft-blue: hsl(215, 51%, 70%);
$nft--cyan: hsl(178, 100%, 50%);
$nft-main-background: hsl(217, 54%, 11%); //very dark blue
$nft-card__background: hsl(216, 50%, 16%); //very dark blue
$nft-line: hsl(215, 32%, 27%); //very dark blue
$nft--white: hsl(0, 0%, 100%);

//order summary
$os--pale-blue: hsl(225, 100%, 94%);
$os--bright-blue: hsl(245, 75%, 52%);
$os--very-pale-blue: hsl(225, 100%, 98%);
$os--desaturated-blue: hsl(224, 23%, 55%);
$os--dark-blue: hsl(223, 47%, 23%);

//stats preview card
$sp-main-backgound: hsl(233, 47%, 7%); //very dark blue
$sp-card-backgound: hsl(244, 38%, 16%); //dark desaturated blue
$sp-accent: hsl(277, 64%, 61%); //violet
$sp--white: hsl(0, 0%, 100%); //(main heading, stats)
$sp--white--75: hsla(0, 0%, 100%, 0.75); //slightly transparent white (main paragraph)
$sp--white--60: hsla(0, 0%, 100%, 0.6); //slightly transparent white (stat headings)

//3 col preview card
$cp--bright-orange: hsl(31, 77%, 52%);
$cp--dark-cyan: hsl(184, 100%, 22%);
$cp--very-dark-cyan: hsl(179, 100%, 13%);
$cp--white---75: hsla(0, 0%, 100%, 0.75); //paragraphs
$cp--very-light-gray: hsl(0, 0%, 95%); //background, headings, buttons

//profile card
$pc--dark-cyan: hsl(185, 75%, 39%);
$pc--very-dark-desaturated-blue: hsl(229, 23%, 23%);
$pc--dark-grayish-blue: hsl(227, 10%, 46%);
$pc--dark-gray: hsl(0, 0%, 59%);
