$font--poppins: 'Poppins';
$font--outfit: 'Outfit';
$font--red-hat-display: 'Red Hat Display';
$font--inter: 'Inter';
$font--lexend-deca: 'Lexend Deca';
$font--big-shoulders-display: 'Big Shoulders Display';
