@use '../../../abstracts' as *;
$sp-header-image--desktop: '../../../../assets/frontendMentorInfo/stats-preview-card-component-main/images/image-header-desktop.jpg';
$sp-header-image--mobile: '../../../../assets/frontendMentorInfo/stats-preview-card-component-main/images/image-header-mobile.jpg';

.sp-card__container {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'content image';
  background-color: $sp-card-backgound;
  border-radius: 10px;
  overflow: hidden;
  max-width: 60rem;
  width: 90vw;

  @include mq($sp-mobile-breakpoint) {
    height: fit-content;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: 'image' 'content';
    max-width: 95vw;
    margin: 1rem;
  }
}

.sp-card-content__container {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem;

  @include mq($sp-mobile-breakpoint) {
    padding: 2.5rem;
  }
}

.sp-card-content__introduction-container {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 1.2;

  h3 {
    color: $sp--white;
    font-size: 32px;
  }

  em {
    font-style: normal;
    color: $sp-accent;
  }

  p {
    color: $sp--white--75;
    font-weight: normal;
    font-size: $sp-body;
    margin: 2rem 0;
    line-height: 1.7;
  }

  @include mq($sp-mobile-breakpoint) {
    text-align: center;

    p {
      margin-top: 1em;
      margin-bottom: 2.5rem;
    }
  }
}

.sp-card-content__stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @include mq($sp-mobile-breakpoint) {
    flex-direction: column;
    gap: 20px;
    div {
      align-items: center;
    }
  }
}

.sp-stats--value {
  color: $sp--white;
  font-size: 28px;
  font-family: 'Inter';
  font-weight: 700;
}

.sp-stats--title {
  font-family: 'Lexend Deca';
  text-transform: uppercase;
  color: $sp--white--60;
  font-size: $sp-body;
}

.sp-card-image {
  grid-area: image;
  background-color: rgba($sp-accent, 0.8);
  background-image: url($sp-header-image--desktop);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;

  img {
    object-fit: cover;
    height: 100%;
    visibility: hidden;
  }

  @include mq($sp-mobile-breakpoint) {
    background-image: url($sp-header-image--mobile);

    img {
      width: 100%;
    }
  }
}
