@use '../../../abstracts' as *;

.os-card__container {
  display: flex;
  flex-direction: column;
  width: clamp(19rem, 90vw, 25rem);
  font-family: $font--red-hat-display;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.os-illustration__container {
  width: 100%;
  height: fit-content;
}

.os-content__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 0 20px 0;
  width: max(80%, 18rem);
  margin: auto;
  gap: 1.2rem;

  h3 {
    font-weight: 900;
    color: $os--dark-blue;
  }

  p {
    font-weight: 500;
    font-size: $os-body;
    color: $os--desaturated-blue;
  }
}

.os-plan-details__container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'icon plan button' 'icon cost button';
  background-color: $os--very-pale-blue;
  border-radius: 15px;
  padding: 15px;
  grid-gap: 0 20px;
}

.music-icon {
  grid-area: icon;
  place-self: center;
}

.plan-text {
  grid-area: plan;
  text-align: left;
  font-weight: 900;
  color: $os--dark-blue;
}

.cost-text {
  grid-area: cost;
  text-align: left;
  color: $os--desaturated-blue;
}

.change-button {
  grid-area: button;
  place-self: center;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  color: $os--bright-blue;

  &:hover {
    color: tint($os--bright-blue, 20%);
  }
}

.os-buttons__container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.os-button {
  width: 100%;
  border: none;
  font-weight: 700;
  padding: 12px;
  border-radius: 12px;

  &.primary {
    background-color: $os--bright-blue;
    color: white;
    box-shadow: 0 5px 15px 0px rgba($os--bright-blue, 0.5);

    &:hover {
      opacity: 0.8;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $os--desaturated-blue;

    &:hover {
      color: $os--dark-blue;
    }
  }
}
